.topBtn{
    position: fixed;
    font-family: inherit;
    background-color: white;
    font-size: 3rem;
    bottom: 9vh;
    right: 3vw;
    z-index: 300;
    border: 1px solid black;
    padding: .3rem;

    animation: fadeOut 1s ease-in-out;
}
@media (max-width: 475px){
    .topBtn{
        position: relative;
        right: 8vw;
    }
}
.topBtn:hover{
    cursor: pointer;
}
@keyframes fadeOut{
    from{ opacity: 0;}
    to{ opacity: 1;}
}
.fadeIn{
    animation: fadeIn 1s ease-in-out forwards;   
}
@keyframes fadeIn{
    0% { opacity: 1;}
    99% { opacity: 0;}
    100% { opacity: 0; display: none; z-index: 0;}
}