body{
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
    min-height: 400vh;

    // font-family: 'Anybody', cursive;
    font-family: 'Inconsolata', monospace;
    // font-family: 'Bakbak One', cursive;
    // font-family: 'Chakra Petch', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Anybody&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

html{
    scrollbar-width:none;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
}

#main{
    position: absolute;
    z-index: 100;
    width: 100%;
    padding: 2em 0;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    place-items: center;


    #title{
        color: white;
        text-align: center;
        grid-column: 1/11;
    }
}

.first-section{
    position: absolute;
    width: 100%;
    top: 100vh;
    padding: 3em;
    min-height: 70vh;
    background-color: white;
    grid-column: 5/10;

    // display: grid;
    // place-items: center;
}
