body{
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
    min-height: 200vh;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
}

#main{
    position: absolute;
    z-index: 100;
    background-color: aqua;
    top: 50%;
    opacity: 0;
}
